/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-dic-2018, 17:10:35
    Author     : carlo
*/
/*
COLORES ICONO
verde claro: #88BF57;
verde oscuro: #426B1C;
amarillo: #FBD48F;
rojo: #D13832;
rojo-claro: #EF3F30;
marron: #A46F3E;
*/

/*Fuente de la página*/
@font-face{
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Roboto");
}

#toast-container {
  bottom: auto !important;
  right: auto !important;
  top: 10%;
  left:0%;  
}
.toast{
    border-radius: 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.7);
}

body{
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
/*LOGIN*/
.navbar-login{
    /*centrado en pantalla*/
    margin: 0 auto;

    padding: 10%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 600px;    

}

.navbar-login img{    

}


/*END LOGIN*/
.navbar-material .nav-wrapper .brand-logo img {
    height: 54px;
}
/*Elimina la sombra*/
.no-shadows {
    box-shadow: none!important;
}

body{
    height: 100%;
    min-height: 100%;
}
#contenido{


}

.pie {
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    color: lightgray;
}

#emailSideBar, #nickSideBar, #imgSideBar{
    border-radius: 5px;
    background: white;
    padding: 4px;
    margin: 4px;
    font-size: 14px;
}

.contenedorMenu{
    height: 2000px;
    width: 100%;
}

/*footer*/
.foot{    
    position:relative;
    bottom:0;
    width:100%;
    height:70px;  
}

/*footer*/

/*social*/

.social a{
    font-size: 1.5em;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0;
    color: #88BF57;
}

.social a:hover{
    -webkit-transition: font-size .25s ease-in-out;
    color: #D13832;
    font-size: 2.5em;
}
/*end social*/

/*cesta*/
.cesta{
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 96%;
    margin: 2%;
    margin-bottom: 0;    
    /*Sombras
    -webkit-box-shadow: 0px -2px 5px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px -2px 5px 1px rgba(255,255,255,1);
    box-shadow: 0px -2px 5px 1px rgba(255,255,255,1);*/
    
    /*Evita el scroll en los navegadores*/
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
}
.precio-cesta{
    position: relative;
    height: 31.5px;
}
#cuerpoCesta{
    max-height: 60vmax; /*vmax, porcentaje del viewport.*/
    overflow: scroll;
}
/*end cesta*/




.fa-stack[data-count]:after{
    position: relative;
    left:40%;
    bottom:52px;
    content: attr(data-count);
    font-size:12px;
    line-height:0.1;  
    color:white;
    text-align:center;
    min-width:2em;
    font-weight:bold;  
}

/*cocina*/

.contendorCocina{
    width: 100vw;
    height: 100vh;
    margin: 1;
    overflow: hidden;
    /*Evita el scroll en los navegadores*/
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
}

.pedido{
    position: relative;
    height: 100%;
    width: 20%;
    font-size: 16px;
    float: left;    
    margin: 1%;
    overflow-y: scroll;

}

.cola{
    position: relative;
    height: 100%;
    width: 76%;
    float: left;
    margin: 1%;
    overflow-y: scroll;

}

.contendorCocina:after{
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;    
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
        rgba(255,255,255, 0), 
        rgba(255,255,255, 1) 90%);
    width    : 110%;
    height   : 5em;
}

.pedidoLabel, .colaLabel{         
    padding: 10px;   
    margin: 0px;
    font-size: 3vw;
    font-weight: bold;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}
/*end cocina*/

/*ANIMACIONES*/
/*Animación del logo*/
.flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 0.5s linear reverse both;
	        animation: flip-scale-up-hor 0.5s linear reverse both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-31 14:54:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-up-hor
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}

/*Animación de la hamburguesa del menú. Puesto en hover para que la animación funcione en móvil*/
.rotate-in-center:hover {
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-31 14:58:59
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

