/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-dic-2018, 17:10:35
    Author     : carlo
*/
/*
COLORES ICONO
verde claro: #88BF57;
verde oscuro: #426B1C;
amarillo: #FBD48F;
rojo: #D13832;
rojo-claro: #EF3F30;
marron: #A46F3E;
*/

@font-face{
    font-family: "MadeleinaSans";
    src: url("../fonts/Madeleina Sans.otf") format("opentype");
}

@font-face{
    font-family: "CQMono";
    src: url("../fonts/CQ Mono.otf") format("opentype");
}

/*LOGIN*/
.navbar-login{
    margin: 0;
    padding: 10%;
    width: 100%;
    height: 100%;
}

.navbar-login img{    
    
}


/*END LOGIN*/
.navbar-material .nav-wrapper .brand-logo img {
    height: 54px;
}
/*Elimina la sombra*/
.no-shadows {
    box-shadow: none!important;
}

body{
    height: 100%;
    min-height: 100%;
}
#contenido{
     
    
}

.pie {
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    color: lightgray;
}

#emailSideBar, #nickSideBar, #imgSideBar{
    border-radius: 5px;
    background: white;
    padding: 4px;
    margin: 4px;
    font-size: 14px;
}

.contenedorMenu{
    height: 2000px;
    width: 100%;
}

/*footer*/
.foot{    
    position:relative;
    bottom:0;
    width:100%;
    height:70px;  
}

/*footer*/

/*social*/
    
.social a{
    font-size: 1.5em;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0;
    color: #88BF57;
}

.social a:hover{
    -webkit-transition: font-size .25s ease-in-out;
    color: #D13832;
    font-size: 2.5em;
}
/*social*/