/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-dic-2018, 17:10:35
    Author     : carlo
*/
/*
COLORES ICONO
verde claro: #88BF57;
verde oscuro: #426B1C;
amarillo: #FBD48F;
rojo: #D13832;
rojo-claro: #EF3F30;
marron: #A46F3E;
*/

/*Fuente de la página*/
@font-face{
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Roboto");
}

body{
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
/*LOGIN*/
.navbar-login{
    /*centrado en pantalla*/
    margin: 0 auto;

    padding: 10%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 600px;    

}

.navbar-login img{    

}


/*END LOGIN*/
.navbar-material .nav-wrapper .brand-logo img {
    height: 54px;
}
/*Elimina la sombra*/
.no-shadows {
    box-shadow: none!important;
}

body{
    height: 100%;
    min-height: 100%;
}
#contenido{


}

.pie {
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    color: lightgray;
}

#emailSideBar, #nickSideBar, #imgSideBar{
    border-radius: 5px;
    background: white;
    padding: 4px;
    margin: 4px;
    font-size: 14px;
}

.contenedorMenu{
    height: 2000px;
    width: 100%;
}

/*footer*/
.foot{    
    position:relative;
    bottom:0;
    width:100%;
    height:70px;  
}

/*footer*/

/*social*/

.social a{
    font-size: 1.5em;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0;
    color: #88BF57;
}

.social a:hover{
    -webkit-transition: font-size .25s ease-in-out;
    color: #D13832;
    font-size: 2.5em;
}
/*end social*/

/*cesta*/
.cesta{
    display: table;
    font-size: 18px;
    margin: 2%;
    padding: 0;
    height: 50px;   
    position: fixed;    
    bottom: 0;
    left: 0;
    width: 96%;    
    background-color: #D13832;
    color: white;
    vertical-align: central;
    z-index: 99;
    /*Sombras*/
    -webkit-box-shadow: 0px -2px 5px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px -2px 5px 1px rgba(255,255,255,1);
    box-shadow: 0px -2px 5px 1px rgba(255,255,255,1);
    border-radius: 15%;
    /*Evita el scroll en los navegadores*/
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
}

.contenido-cesta{
    display: table-cell;
    vertical-align: middle;    

}
/*end cesta*/




.fa-stack[data-count]:after{
    position:fixed;
    left:11.5%;
    bottom:77%;
    content: attr(data-count);
    font-size:12px;
    line-height:0.1;  
    color:white;
    text-align:center;
    min-width:2em;
    font-weight:bold;  
}

/*cocina*/

.contendorCocina{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    /*Evita el scroll en los navegadores*/
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
}

.pedido{
    position: relative;
    height: 100%;
    width: 20%;
    font-size: 16px;
    float: left;    
    margin: 1%;
    overflow-y: scroll;

}

.cola{
    position: relative;
    height: 100%;
    width: 76%;
    float: left;
    margin: 1%;
    overflow-y: scroll;
}

.contendorCocina:after{
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;    
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
        rgba(255,255,255, 0), 
        rgba(255,255,255, 1) 90%);
    width    : 110%;
    height   : 5em;
}

.pedidoLabel, .colaLabel{         
    padding: 10px;   
    margin: 10px;
    font-size: 3vw;
    font-weight: bold;
    border-bottom: 2px black solid;      
}
/*end cocina*/